<h2>Starting with Loops</h2>
<h3>1.While Loop</h3>
<h3>2.For Loop</h3>

In [ ]:
##while loop
i = 0
while i<10:
    print(i,end=",")
    i+=1
    ##end specifies whether it is printed with \n(next line) or space between numbers or any expression between numbers. By default "\n" is always used.

0,1,2,3,4,5,6,7,8,9,

In [ ]:
##for in loop
for ele in range(10): #ele is a variable applied on function range()
    print(ele,end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
##To print odd numbers between 3 and 21:
for ele in range(3,21):
    if ele%2 != 0:
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [ ]:
##If we add a parameter"step-size" in the range():
for ele in range(3,21,2):##step-size=2 means it jumps 2 places as it proceeds in the function.
    print(ele,end=",")

3,5,7,9,11,13,15,17,19,

<h2> Strings </h2>

In [1]:
##Types of strings
## '' , " ", """  """
## Triple quotes are used for multiline
st = "Hi. I'm Soumya Ranjan Ram."
print(st)

Hi. I'm Soumya Ranjan Ram.