# List

In [1]:
l1 = [1,6,3,8,10]
l2 = [9,8,7]

In [2]:
l1 + 4

TypeError: can only concatenate list (not "int") to list

In [3]:
l1 + l2

[1, 6, 3, 8, 10, 9, 8, 7]

In [4]:
l1.append(l2)

In [5]:
l1

[1, 6, 3, 8, 10, [9, 8, 7]]

In [6]:
l1.extend(l2)

In [7]:
l1

[1, 6, 3, 8, 10, [9, 8, 7], 9, 8, 7]

### List Comprehension

In [21]:
l1 = [4,5,2,9,10]

In [22]:
l1*2

[4, 5, 2, 9, 10, 4, 5, 2, 9, 10]

In [34]:
l1_sq = []

for ele in l1:
    if ele %2 ==0:
        l1_sq.append(ele**2)

In [35]:
l1_sq

[16, 4, 100]

In [36]:
l1_sq = [ele**2 for ele in l1]

In [37]:
l1_sq

[16, 25, 4, 81, 100]

In [38]:
[ele**2 for ele in l1 if ele%2==0]

[16, 4, 100]

In [39]:
l2 = ["hello", "World", "How", "are", "you", "?"]

In [42]:
[ele.title() for ele in l2 if len(ele)>1]

['Hello', 'World', 'How', 'Are', 'You']

## Input

In [53]:
# typecasting and input
no1 = float(input())
no2 = float(input())

5
7.7

In [54]:
type(no2)

float

In [55]:
no1 + no2

12.7

In [59]:
[int(ele) for ele in input().split()]

[5, 3, 8, 10, 34, 2]

In [ ]:
# cumulative sum  > 0

In [66]:
cum = 0
list_of_ele = []
while cum >= 0:
    a = int(input())
    cum = cum+a
    if cum>=0:
        list_of_ele.append(a)
    else:
        break

5
2
-4
-100

In [67]:
list_of_ele

[5, 2, -4]

# Tuple
- immutable
- indexable

In [69]:
tup = (4,8,2,10)

In [70]:
type(tup)

tuple

In [73]:
print(tup[0])
print(tup[-1])

4
10

In [74]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [75]:
tup = (5,3,1)

In [76]:
tup

(5, 3, 1)

In [77]:
l = [2,3,4]

In [78]:
tup1 = (10, 20, l)

In [79]:
tup1

(10, 20, [2, 3, 4])

In [82]:
tup1[2].append(30)

In [83]:
tup1

(10, 20, [2, 3, 4, 30])

In [88]:
def four_operation(a, b):
    return (a+b, a-b, a*b, a/b)

In [89]:
four_operation(5, 3)

(8, 2, 15, 1.6666666666666667)

# Set
- unordered (non indexable)
- unique
- mutable

In [90]:
s = {5,6, 11, 1, 10 ,1, 1, 11}

In [93]:
s[-1]

TypeError: 'set' object is not subscriptable

In [94]:
for e in s:
    print(e)

1
5
6
10
11

In [95]:
s.add(100)

In [96]:
s

{1, 5, 6, 10, 11, 100}

In [97]:
s.add(100)

In [98]:
s

{1, 5, 6, 10, 11, 100}

In [105]:
s1 = {1,4,6,2,4,3}
s2 = {1,5,8,3,4,9}

In [106]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [107]:
s1.intersection(s2)

{1, 3, 4}

In [110]:
s1.difference(s2)

{2, 6}

In [111]:
l = [1,5,8,2,5,9,1,5,3,20, 5]

In [114]:
set(l)

{1, 2, 3, 5, 8, 9, 20}

In [115]:
s1 = {(4,5), 5,7,15}

In [116]:
s1

{(4, 5), 15, 5, 7}

In [117]:
s2 = {"m","n","m","u"}

In [118]:
s2

{'m', 'n', 'u'}

In [119]:
s3 = {[1,2,3], 4, 7, 2, 7}

TypeError: unhashable type: 'list'

In [103]:
hash("Mohit")

-3503204031694133726

In [123]:
hash(-5.3)

-691752902764107781

In [124]:
hash([4,5])

TypeError: unhashable type: 'list'

# Dictionary

In [129]:
canteen_menu = {
    'samosa' : 10 ,
    'pizza'  : 100,
    'burger' : 50
}

In [130]:
type(canteen_menu)

dict

In [133]:
keys = canteen_menu.keys()

In [141]:
list(keys)[-1]

'burger'

In [142]:
values = canteen_menu.values()

In [146]:
list(values)

[10, 100, 50]

In [160]:
for key, val in canteen_menu.items():
    print(key, val)

samosa 10
pizza 100
burger 50

In [153]:
canteen_menu['pizza']

100

In [154]:
canteen_menu['burger']

50

In [167]:
key = 'pizza'

if canteen_menu.get(key) == None:
    print(key, "is not present")
else:
    print(canteen_menu[key])

100

In [169]:
canteen_menu['juice'] = 30

In [170]:
canteen_menu

{'samosa': 10, 'pizza': 100, 'burger': 50, 'juice': 30}

In [171]:
canteen_menu['fruits'] = [10, 20, 30]

In [175]:
canteen_menu['fruits'][-1]

30

In [176]:
canteen_menu['fruits'] = {
    'grapes' : 10,
    'orange' : 20,
    'mango' : 25
}

In [179]:
canteen_menu['fruits']['orange']

20

In [ ]:
# canteen_menu.update()

##### Random Functions

In [185]:
l = ['a' , 'b', 'c', 'd', 'e']

In [188]:
"+".join(l)

'a+b+c+d+e'

In [189]:
list("hello")

['h', 'e', 'l', 'l', 'o']